.backGround {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.welcomeBox1 {
  color: white;
  border: 8px #007f00 solid;
  margin-top: 10%;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 2%;
  border-radius: 5px;
  padding: 25px;
  text-align: center;
}
.welcomeBox2{
  margin-top: 1%;
  color: white;
  border: 8px #007f00 solid;
  margin-left: 20%;
  margin-right: 20%;
  border-radius: 5px;
  padding: 25px;
  text-align: center;
}
.mainPagePlayButton {
  position: fixed;
  top: 55%;
  left: 43%;
  width: 15%;
  height: 15%;
}
.soundIconOn {
  position: fixed;
  top: 5%;
  right: 5%;
  width: 5%;
  height: 5%;
  visibility: visible;
}
.soundIconOff {
  position: fixed;
  top: 5.5%;
  right: 6%;
  width: 4%;
  height: 5%;
  visibility: hidden;
}
