.backGround {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.puzzleBox {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.controlBox {
  position: fixed;
  top: 70%;
  left: 25%;
}
.enterButton {
  position: fixed;
  top: 79%;
  left: 67%;
  width: 10%;
  height: 10%;
  z-index: 2;
}
.answerBox {
  position: fixed;
  left: 23%;
  bottom: 11%;
  width: 42%;
  height: 9%;
  background-color: transparent;
  border: none;
  outline: none;
  color: #fafafa;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 1px;
  font-size: 20px;
  z-index: 2;
}
.questionWorried {
  position: fixed;
  bottom: 24%;
  left: 30%;
  width: 28%;
  height: 5%;
}
.puzzlePiece1 {
  position: fixed;
  top: 8%;
  left: 24%;
  width: 52%;
  height: 58%;
  z-index: 2;
  visibility: hidden;
}
.puzzlePiece2 {
  position: fixed;
  top: 8%;
  left: 24%;
  width: 52%;
  height: 58%;
  z-index: 2;
  visibility: hidden;
}
.puzzlePiece3 {
  position: fixed;
  top: 8%;
  left: 24%;
  width: 52%;
  height: 58%;
  z-index: 2;
  visibility: hidden;
}
.puzzlePiece4 {
  position: fixed;
  top: 8%;
  left: 24%;
  width: 52%;
  height: 58%;
  z-index: 2;
  visibility: hidden;
}
.backButton {
  position: fixed;
  left: 11%;
  bottom: 12%;
  z-index: 2;
  /*need to fix responsiveness*/
}
.nextButton {
  position: fixed;
  right: 11%;
  bottom: 12%;
  z-index: 2;
  /*need to fix responsiveness*/
}
.score4 {
  position: fixed;
  right: 19%;
  top: 32%;
  width: 2%;
  height: 6%;
  visibility: hidden;
}
.score5 {
  position: fixed;
  right: 19%;
  top: 32%;
  width: 2%;
  height: 6%;
  visibility: hidden;
}
.soundIconOn {
  position: fixed;
  top: 5%;
  right: 5%;
  width: 5%;
  height: 5%;
  z-index: 2;
  visibility: visible;
}
.soundIconOff {
  position: fixed;
  top: 5.5%;
  right: 6%;
  width: 4%;
  height: 5%;
  z-index: 2;
  visibility: hidden;
}
