h1  {
  font-family: 'Playfair Display', serif;
  font-size: 60px;
  text-align: left;
  font-weight: 100;
  border: 10px solid #e4e4e4;
  padding: 3px 30px 3px 50px;
  margin-right: 755px;
  margin-top: 12px;
  margin-left: 5px;
}

orange {
  color: orange;
}

.main {
  margin-left: 5px;
  margin-top: 5px;
  width: 660px;
}
